{% extends 'base.html' %}
{% from '_macros.html' import render_field, render_button, render_categories %}
{% block title %}{{ title }}{% endblock %}
{% block categories %}
  {{ render_categories(categories) }}
{% endblock %}
{% block content %}
<div class="content-form">
  <form action="" class="needs-validation" method="POST" novalidate>
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-auto">Reset password</legend>
      {{ render_field(form.password) }}
      {{ render_field(form.confirm_password) }}
    </fieldset>
    {{ render_button(form.submit) }}
  </form>
</div>
{% endblock %}
