{% extends 'base.html' %}
{% from '_macros.html' import render_product, render_categories %}
{% block title %}{{ title }}{% endblock %}
{% block categories %}
  {{ render_categories(categories) }}
{% endblock %}
{% block content %}
  <div class="content-detail-category">
    <div class="items">
      <input type="hidden">
      {% for product in result.products %}
        <div class="row">
          {{ render_product(product) }}
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
