{# comment #}
{% extends 'base.html' %}
{% from '_macros.html' import render_field, render_button, render_categories %}
{% block title %}{{ title }}{% endblock %}
{% block categories %} {{ render_categories(cates) }} {% endblock %} 
{%block content %}
<div class="content-form">
	<form
		action="{{ url_for('categories.add_category') }}"
		class="needs-validation"
		method="POST"
		novalidate
	>
		{{ form.hidden_tag() }}
		<fieldset class="form-group">
			<legend class="border-auto">Add Category</legend>
			{{ render_field(form.category_name) }}
		</fieldset>
		{{ render_button(form.submit) }}
	</form>
</div>
{% endblock %}
