{% extends 'base.html' %}
{% from '_macros.html' import render_categories %}
{% block title %}{{ tilte }}{% endblock %}
{% block categories %}
  {{ render_categories(cates) }}
{% endblock %}
{% block content %}
  <div class="content-category">
    <h4>All categories:</h4>
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-4">
        {% for category in categories %}
        <a href="{{ url_for('categories.detail_category', category_id=category.id) }}"><h4>{{ category.category_name }}</h4></a>
          <h5>Have: {{ category.products.count() }} products</h5>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
