{% extends 'base.html' %}
{% from '_macros.html' import render_field, render_button, render_file_field, render_categories %}
{% block title %}About - {{ current_user.user_name }}{% endblock %}
{% block categories %}
  {{ render_categories(categories) }}
{% endblock %}
{% block content %}
<div class="media">
  <img src="{{ picture }}" alt="{{ current_user.user_name }} profile picture" class="account-img">
  <div>
    <h3 class="account-heading">{{ current_user.user_name }}</h3>
    <p class="text-secondary">{{ current_user.email }}</p>
  </div>
</div>
<div class="content-form">
  <form action="{{ url_for('users.about') }}" class="needs-validation" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-auto">Account update</legend>
      {{ render_field(form.user_name) }}
      {{ render_field(form.full_name) }}
      {{ render_field(form.email) }}
      {{ render_field(form.old_password) }}
      {{ render_field(form.new_password) }}
      {{ render_field(form.confirm_password) }}
      {{ render_field(form.address) }}
      {{ render_field(form.country) }}
      {{ render_field(form.city) }}
      {{ render_field(form.state) }}
      {{ render_field(form.zipcode) }}
      {{ render_field(form.phone) }}
      {{ render_file_field(form.profile_picture) }}
    </fieldset>
    {{ render_button(form.submit) }}
  </form>
</div>
{% endblock %}
