{% extends 'base.html' %}
{% from '_macros.html' import render_field, render_categories, render_button, render_check %}
{% block title %}{{ title }}{% endblock %}
{% block categories %} {{ render_categories(categories) }} {% endblock %}
{% block content %}
  <div class="content-form">
    <form
      action="{{ url_for('users.login') }}"
      class="needs-validation"
      method="POST"
      novalidate
    >
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <legend>Log in</legend>
        {{ render_field(form.email) }}
        {{ render_field(form.password) }}
        {{ render_check(form.remember_me) }}
      </fieldset>
      <div class="form-group">
        {{ render_button(form.submit) }} 
      </div>
      <div class="form-group">
        <div class="login-redirect">
          <div></div>
          <div>
            <small class="text-muted"><a href="{{ url_for('users.send_reset') }}">Forgot password? </a></small>
            <br>
            <small class="text-muted">Need an account? <a href="{{ url_for('users.register') }}">Sign up</a></small>
          </div>
        </div> 
      </div>
    </form>
  </div>
{% endblock %}
