{% extends 'base.html' %}
{% from '_macros.html' import render_field, render_button, render_categories %}
{% block title %}{{ title }}{% endblock %}
{% block categories %}
  {{ render_categories(categories) }}
{% endblock %}
{% block content %}
<div class="content-form">
  <form action="{{ url_for('users.register') }}" class="needs-validation" method="POST" novalidate>
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend>Register</legend>
      {{ render_field(form.user_name) }}
      {{ render_field(form.full_name) }}
      {{ render_field(form.email) }}
      {{ render_field(form.password) }}
      {{ render_field(form.confirm_password) }}
      {{ render_field(form.phone) }}
    </fieldset>
    {{ render_button(form.submit) }}
    <div class="register-redirect">
      <div></div>
      <small class="text-muted">Already have an account? <a href="{{ url_for('users.login') }}">Sign in</a></small>
    </div>
  </form>
</div>

{% endblock %}
