{% macro render_field(field) %}
  <div class="form-group">
    {{ field.label(class="form-control-label") }}
    {% if field.errors %}
      {{ field(class="form-control form-control-sm is-invalid") }}
      {% for error in field.errors %}
        <span>{{ error }}</span>
      {% endfor %}
    {% else %}
      {{ field(class="form-control form-control-sm") }}
    {% endif %}
  </div>
{% endmacro %}

{% macro category_product(category) %}
  <a href="{{ url_for('products.detail_product', product.product_id) }}">
    <img src="{{ url_for() }}" alt="{{ product.product_name }}">
    <h5>{{ product.product_name }}</h5>
  </a>
  <h5>{{ product.product_price }}</h5>
  <h5>{{ product.discounted_price }}</h5>
  <h5>{{ product.product_rating }}</h5>
{% endmacro %}

{% macro render_select_field(field, placeholder='Select...') %}
  <div class="form-group">
    {{ field.label(class="form-control-label") }}
    {% if field.errors %}
      {{ field(class="form-control form-control-sm is-invalid") }}
      {% for error in field.errors %}
      <span>{{ error }}</span>
      {% endfor %}
    {% else %}
      {{ field(class="form-control select-categories") }}
    {% endif %}
  </div>
{% endmacro %}

{% macro render_file_field(field) %}
  <div class="form-group">
    {{ field.label() }}
    {{ field(class="form-control-file") }}
    {% if field.errors %}
      {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    {% endif %}
  </div>
{% endmacro %}

{% macro render_button(field) %}
  <div class="form-group">
    {{ field(class="btn btn-outline-info") }}
  </div>
{% endmacro %}
