{# render field #} {% macro render_field(field) %}
<div class="form-group">
  {{ field.label(class="form-control-label") }} {% if field.errors %} {{
  field(class="form-control form-control-sm is-invalid") }} {% for error in
  field.errors %}
  <span>{{ error }}</span>
  {% endfor %} {% else %} {{ field(class="form-control form-control-sm") }}
  {%endif %} ======= {# render field #} {% macro render_field(field) %}
  <div class="field">
    <div class="field-label">{{ field.label() }}</div>
    <div class="field-input">
      {% if field.errors %} {{ field(class="field-error-input") }} {% for error
      in field.errors %}
      <span>{{ error }}</span>
      {% endfor %} {% else %} {{ field(class="field-normal-input") }} {%endif %}
    </div>
  </div>

  {% endmacro %} {# render product #} {% macro render_product(product) %}
  <div class="col-sm-3">
    <a href="{{ url_for('products.detail_product', product_id=product.id) }}">
      <img
        src="{{ url_for('static', filename='assets/products/' + product.product_image) }}"
        alt="{{ product.product_name }}"
        class="product-img"
      />
      <h5>{{ product.product_name }}</h5>
    </a>
    <h5 class="price" style="text-decoration: line-through">
      {{ product.product_price }}
    </h5>
    <h5>{{ product.discounted_price }}</h5>
    <h5>{{ product.product_rating }}</h5>
  </div>
  {% endmacro %} {# render select field #} {% macro render_select_field(field)
  %}
  <div class="form-group">
    {{ field.label(class="form-control-label") }} {% if field.errors %} {{
    field(class="form-control form-control-sm is-invalid") }} {% for error in
    field.errors %}
    <span>{{ error }}</span>
    {% endfor %} {% else %} {{ field(class="form-control select-categories") }}
    {% endif %}
  </div>
  {% endmacro %} {# render file field #} {% macro render_file_field(field) %}
  <div class="form-group">
    {{ field.label() }} {{ field(class="form-control-file") }} {% if
    field.errors %} {% for error in field.errors %}
    <span class="text-danger">{{ error }}</span>
    {% endfor %} {% endif %}
  </div>
  {% endmacro %} {# render button #} {% macro render_button(field) %}
  <div class="form-group">{{ field(class="form-btn") }}</div>
  {% endmacro %} {# render categories #} {% macro render_categories(cates) %} {%
  for cate in cates %}
  <a
    href="{{ url_for('categories.detail_category', category_id=cate.id) }}"
    class="dropdown-item"
  >
    {{ cate.category_name }}
  </a>
  {% endfor %} {% endmacro %} {# render check field #} {% macro
  render_check(field) %}
  <div class="form-check">
    {{ field(class="form-check-input") }} {{
    field.label(class="form-check-label") }} ======= {% endmacro %} {# render
    product #} {% macro render_product(product) %}
    <div>
      <a href="{{ url_for('products.detail_product', product_id=product.id) }}">
        <img
          src="{{ url_for('static', filename='assets/products/' + product.product_image) }}"
          alt="{{ product.product_name }}"
          class="product-img"
        />
        <h5>{{ product.product_name }}</h5>
      </a>
      <h5 class="price" style="text-decoration: line-through">
        {{ product.product_price }}
      </h5>
      <h5>{{ product.discounted_price }}</h5>
      <h5>{{ product.product_rating }}</h5>
    </div>
    {% endmacro %} {# render select field #} {% macro render_select_field(field)
    %}
    <div class="field">
      <div class="field-label">{{ field.label() }}</div>
      <div class="field-input">
        {% if field.errors %} {{ field(class="field-error-input") }} {% for
        error in field.errors %}
        <span>{{ error }}</span>
        {% endfor %} {% else %} {{ field(class="select-categories") }} {% endif
        %}
      </div>
    </div>
    {% endmacro %} {# render categories #} {% macro render_categories(cates) %}
    {% for cate in cates %}
    <a
      href="{{ url_for('categories.detail_category', category_id=cate.id) }}"
      class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
    >
      {{ cate.category_name }}
    </a>
    {% endfor %} {% endmacro %} {# render file field #} {% macro
    render_file_field(field) %}
    <div class="field">
      <div class="field-label">{{ field.label() }}</div>
      {{ field(class="field-file-input") }} {% if field.errors %} {% for error
      in field.errors %}
      <span class="text-danger">{{ error }}</span>
      {% endfor %} {% endif %}
    </div>
    {% endmacro %} {# render button #} {% macro render_button(field) %}
    <div class="btn">
      <div></div>
      <div>{{ field(class="btn-button") }}</div>
    </div>
    {% endmacro %} {# render check field #} {% macro render_check(field) %}
    <div class="check">
      <div></div>
      {{ field(class="check-input") }} {{ field.label(class="check-label") }}
    </div>
    {% endmacro %} <<<<<<< HEAD ||||||| 16e1a14 ======= >>>>>>> dev
  </div>
</div>
