{% extends 'base.html' %}
{% block content %}
<div><div class="col-12"></div></div>
<script>
  fetch('https://lastmile.ghn.vn/')
    .then(response => {
      response.json();
    })
  .then(data console.log(data));
  async function postData(url='', data={}) {
    const response = await fetch(url, {
      method: 'POST',
      mode: 'cors',
      cache: 'no-cache',
      credentials: "same-origin",
      headers: {
        'Content-Type': 'application/json'
      },
      redirect: 'follow',
      referrerPolicy: 'no-referrer',
      body: JSON.stringify(data)
    });
    return response.json();
  }
  postData('https://lastmile.ghn.vn/')
    .then(data => {
      console.log(data);
    })
</script>
{% endblock %}
